---
layout: layouts/page.njk
title: "Caring for the Carers"
subtitle: "for Health service, Social and Teaching Professionals"
form_name: "programme-enquiry-public-service"
---

<section id="programmes" class="main">
						<header class="accent1">
							<h2>Move from exhaustion and burnout to energy, confidence and inner calm</h2>
								<h3>Why am I so passionate about supporting Health, Social Care and Teaching professionals?</h3>
								<p>My dad was a teacher, my mum worked in the UK National Health Service all her life and in my acupuncture practise and in classes I have seen nurses, teachers, physios, radiographers, GPs, anaesthetists, surgeons & social workers.  I know how deeply you dedicate yourself to the service of others and the toll it can take on your own wellbeing.</p>
									<p><strong>My mum could have died due to this dedication</strong><br> After needing to work nearly 24hours straight through, my mum fell sleep driving home and crashed. Thankfully she recovered fine but, I know that too often, despite you giving everything, the system you work in doesn't care effectively for you. </p>
									<p>Worst of all I know that many of you think about leaving the job you were once passionate about because your wellbeing is being destroyed by it.</p>
									<h4>I feel massively passionate that you, the people who make the world a better place, should be cared for and properly supported</h4>
									<h5> I want to give you the skills, support and community that will help you neutralise stress and keep yourself well, so you can feel passionate about your job and still have the energy you want for your own life.</h5>
						</header>

						<ul class="tabs">
							<li>
								<h3>Exclusively for health, teaching, & social care professionals?</h3>
								<div class="spotlight">
									<ul>
										<li>
											<h4>What is the Programme?</h4>
											<p>This programme is specifically designed to help you manage the emotional and physical demands of your work in a way that keeps you well and lets you thrive in your personal life. The programme helps you develop skills and experience community, encouragement and support in a journey into energy, health and inner-calm. </p>
										</li>
									</ul>
									<span class="image"><img src="/images/hands-holding-sapling-together.jpg" alt="Hands holding a sapling together" /></span>
									<ul>
										<li>
											<h4>How Does it Help?</h4>
											<p>When you develop your skill in releasing stress and tension, you also develop your ability to notice more quickly when you are experiencing stress.  This combination allows you to progressively shift the baseline of your nervous system activation so you feel more deeply regulated more of the time. This keeps you out of chronic stress and enables you to stay healthy, happy and well.</p>
										</li>
										<li>
											<h4>The Result</h4>
											<p>With this course and community of fellow students, you will feel cared for and supported and you will be encouraged in developing life-changing skills. You will learn skills that move you from stress, burnout or overwhelm to feelings of calm, grounded confidence. This will allow you to have confidence and passion in your work and to have the energy you want in your personal life.</p>
										</li>
									</ul>
								</div>
							</li>
							<!--<li>
								<h3>Freedom from Narcissism</h3>
								<div class="spotlight">
									<ul>
										<li>
											<h4>Why a Focus on Narcisistic Relationships ?</h4>
											<p>I know first hand the damaging effects of being subject to narcissistic control. I also know how I built resilience and set myself free from being controlled. </p>
										</li>
										<li>
											<h4>What is the Programme?</h4>
											<p>This programme is specifically designed to help you get clarity on how you are being emotionally controlled in the narcissistic relationship and to enable you to free yourself from the emotional responses that keep you trapped in these dynamics.</p>
										</li>
									</ul>
									<span class="image"><img src="images/balloon-free-in-air.jpg" alt="White balloon floating free in the air" /></span>
									<ul>
										<li>
											<h4>How Does it Help?</h4>
											<p>Narcisistic people control us through our own feelings, fears and reactions, and by distorting our sense of emotional reality so we end up believing that we are the problem. When we are grounded in our body we gain clarity and confidence and are able to act from a place of self-integrity and greater confidence that cannot be controlled.</p>
										</li>
										<li>
											<h4>The Result</h4>
											<p>With this course and community, you Will feel cared for and supported. You will learn skills that help you gain emotional clarity so you take back control of your emotional state and build the grounded calm & confidence that will help allow you to set yourself free from control.</p>
										</li>
									</ul>
								</div>
							</li>-->
							<!--<li>
								<h3>Stress & Overwhelm</h3>
								<div class="spotlight">
									<ul>
										<li>
											<h4>Why a Focus on Stress & Overwhelm?</h4>
											<p>More and more people are struggling to feel at peace inside. Emotional overwhelm, stress, anxiety, fear and excessive anger are now norms in our society. Living like this is stressful and exhausting. <br> This is how I lived before I learned the skills of physical and emotional release. These skills allow you to regulate your nervous system and keep yourself healthy, calm and and well. </p>
										</li>
										<li>
											<h4>What is the Programme?</h4>
											<p>This programme is specifically designed to help you use the skills of deeper physical release and informed self-care to ground and regulate your nervous system so you feel grounded at peace.</p>
										</li>
									</ul>
									<span class="image"><img src="images/woman-smiling-asleep.jpg" alt="A young woman relaxed and smiling, asleep on a white pillow " /></span>
									<ul>
										<li>
											<h4>How Does it Help?</h4>
											<p>Our nervous system is the lens through which we experience and interpret the world. When we ground our nervous system our entire experience of life changes. Things that previously stressed us feel manageable and we feel a more grounded, confident connection to the people and world around us.</p>
										</li>
										<li>
										<h4>The Result</h4>
										<p>With this course and community, you Will feel cared for and supported. You will learn skills that help you take back control of your emotional state and build a grounded calm & confidence that will enable you to experience your life in a connected confident manner.</p>
										</li>
									</ul>
								</div>
							</li>-->
						</ul>
					</section>

          <h3>Become one of our exclusive pioneers - get additional personal to accelarate your journey into energy, health and inner-calm</h3>
<p>Enquire about joining the first cohort - get additional personal support through the process and help refine the programme to support your colleagues in future cohorts</p>

<h5>Your name and email are all that stand between you and a journey into energy, health and inner-calm.</h5>
<p>Take your first step now and you will be contacted promptly to explore if you could benefit from the programme.</p> 

<form name="{{ form_name }}" method="POST" data-netlify="true">
  <input type="hidden" name="form-name" value="{{ form_name }}" />
  <p><label>Name <input type="text" name="name" required></label></p>
  <p><label>Email <input type="email" name="email" required></label></p>
  <p><label>Mobile <input type="text" name="mobile"></label></p>
  <p><button type="submit" class="button primary">Register interest</button></p>
</form>
