---
layout: layouts/page.njk
title: "Frequently Asked Questions"
subtitle: "Supportive, inspiring, enjoyable"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="faq" class="main">
    <header class="accent1">
<h2>FAQs</h2>
    </header>
<div class="inner">

<p><strong>What should I bring?</strong> Bring a drink, a snack if you need one and an intention to have fun, explore a new .</p>
<p><strong>What should I wear?</strong> Loose clothes that allow you to move freely are best but if you can't one week, don't worry.</p>
<p><strong>Experience required?</strong> No — this class is great for beginners.</p>
<p><strong>Why is the class 2 Hours?</strong> When you start trying to relax physical &amp; emotional tension, it is a process of lettig go, it happens gradually. Like ripples settling in a pool. The second hour allows our mind and body to settle into a more grounded experience which is more satisfying and helps us progress more easily week to week.</p>
<p><strong>How do I pay?</strong></p>
<p>Use the Stripe link below.</p>

<p>
<strong>There is a £20 weekly payment for the full 2 hour class but no ongoing commitment</strong>
I use a recurring weekly payment to avoid wasting class time dealing with payments but if you need to stop being part of the class, you can cancel anytime online or just let me know.</p>
<a href="{{ cta_href }}" class="button primary">£20/week</a> 
</div>
    </section>