---
layout: layouts/page.njk
title: "Pricing"
subtitle: "Simple, clear, accessible"
cta_href: "https://83b3-systeme.systeme.io/416ad543"
cta_label: "Join Now"
---

<section id="pricing" class="main">
    <header class="accent1">
<h2>Pricing</h2>
<h3>There is a simple accessible membership structure. Membership gives access to online resources as they are developed, all weekly classes, the recording of the most recent weekly class. Members who have been members for more than 1 month can also attend any in-person popup classes without any additional cost.</h3>

<p>A recurring membership payment is used to avoid wasting class time dealing with payments but if wish to stop being part of the community, you can cancel anytime online or just drop an email and it can be sorted out for you.</p>
<p>£19 weekly or £70 monthly</p>
<a href="{{ cta_href }}" class="button">{{ cta_label }}</a> 
    </header>

    </section>