---
layout: layouts/page.njk
title: "Membership Pricing"
subtitle: "Simple, clear, accessible. Pay weekly £19/week  or Pay Monthly £16/week"
cta_href: "https://83b3-systeme.systeme.io/416ad543"
cta_label: "Join Now"
---

<section id="pricing" class="main">
    <header class="accent1">
        <h2>Pricing</h2>
        <h3>Membership gives access to everything. New online resources as they are developed, support, all 2hr weekly classes, attend any popup beach classes and the weekly recording of your class.</h3>
            <ul class="bullet-none">
                <li>2 hr weekly class online or in-person.</li>
                <li>Recording of the weekly class so you can repeat it or attend it afterwards if you missed it.</li>
                <li>Access to online resources - these are produced as the class progresses.</li>
                <li>Online and personalised support.</li>
                <li>Members who have been members for more than 1 month can also attend any in-person popup classes without any additional cost.</li>
            </ul>
                <p>A recurring membership payment is used to avoid wasting class time dealing with payments but if wish to stop being part of the community, you can cancel anytime online or just drop an email and it can be sorted out for you.</p>
                <p>Pay weekly £19/week  or Pay Monthly £16.15/week</p>
                <a href="{{ cta_href }}" class="button">{{ cta_label }}</a> 
    </header>
</section>