---
layout: layouts/page.njk
title: "Pricing"
subtitle: "Simple, clear, accessible"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="pricing" class="main">
    <header class="accent1">
<h2>Pricing</h2>
<h3>There is a simple accessible £20 weekly payment for all classes and programmes</h3>
<p>I use a recurring weekly payment to avoid wasting class time dealing with payments but if you need to stop being part of the weekly class, you can cancel anytime online or just let me know.</p>
<a href="{{ cta_href }}" class="button">{{ cta_label }}</a> 
    </header>

    </section>