---
layout: layouts/page.njk
title: "Weekly Classes"
subtitle: "Supportive, inspiring, enjoyable"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="in-person-class" class="main">
    <header class="accent1">
	<h2>Weekly In-person Class - Thursdays, 7–9 pm from 29th October 2025</h2>
	<h3>Tremarchog Village Hall, St Nicholas, Goodwick, SA64 0LG.</h3>
	<h4>£20/week for the full 2 hour class</h4>
	<br>There is a break in the middle of the class but it is fine to take breaks whenever you need. 
    <br>Seated options are available.</strong></p> 
	<p><strong>Class replay available weekly</strong><br>
Each class is recorded and for the following the week so you can repeate it or still benefit if you missed the live class.</p>

	<p><strong>No Ongoing Commitment</strong><br>
    A recurring payment is setup so that we don't waste time in class dealing with payments but, if you decide you want to stop being a part of the class, you can cancel anytime either online or just let me know.
	</p>

    <p><h2 id="online">Not Local? - Not a problem. <br/>You can Attend the Weekly Class Online</h2></p>
    <p><strong>Just book as normal and choose the online option.</strong></p>
	<a class="button" href="{{ cta_href }}">{{ cta_label }}</a>
    </header>
    
</section>

<section id="what_to_expect" class="main alt">
    <header class="">
<h2>What to Expect</h2>
    </header>
<div class="inner">
  <ul>
    <li>Supportive, friendly, enjoyable experience</li>
    <li>Accessible, easy to engage with practises; seated options available. </li>
    <li>Clearly explained principles</li>
    <li>Relaxed, focused pace</li>
    <li>Weekly recordings available</li>
  </ul>
</div>
</section>
