---
layout: layouts/page.njk
title: "What to expect..."
subtitle: "when you take your first steps to be inner strong"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="what_to_expect" class="main ">
	<header class="accent1">
		<h2>expect to experience a dedication to your wellbeing and a deep passion for supporting you to thrive in your life.</h2>
	</header>
	<div class="inner">
	<div class="content align-center">
		<h2>Approach</h2>
			<h3>Relaxed but focussed<br><small> - So you can take a break if you need.</small></h3><br>
			<h3>Openess<br><small> - An emotionally supportive, open environment so you can focus on what is going to make the difference to you.</small></h3><br>
			<h3>Commitment<br><small> - so you feel encouraged to persist.</small></h3><br>
			<h3>Inspiration<br><small> - so you feel motivated by seeing the potential for positive change.</small></h3><br>
			<h3>Honesty<br><small> - self-honesty allows us to feel comfortable to deal with what is real so we progress and address the things that are going to make a difference.</small></h3><br>
		<h2>In Class </h2>
			<h3>Welcoming classes<br><small> - So you feel relaxed and at home.</small></h3><br>
			<h3>Clear Guidance<br><small> - so you make progress where you can feel the difference.</small></h3><br>
			<h3>Knowledge  <br><small> - so you are able to know the right thing to do.</small></h3><br> 
			<h3>Simple Practical Solutions<br><small> - so you develop tools that can help you in your day to day life.</small></h3><br>
	</div>
</section>

