---
layout: layouts/page.njk
title: "What to expect..."
subtitle: "when you take your first steps to be inner strong"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---


<section id="what_to_expect" class="alt">
						<header>
							<h2>Above all things...</h2>
							<p>you can expect to experience a dedication to your wellbeing and a deep passion for supporting you to develop skills that will enhance your ability to thrive in your life.</p>
						</header>
						<div class="inner">
							<div class="posts">
								<div>
									<article>
										<a href="#" class="image"><img src="images/pic05.jpg" alt=""></a>
										<div class="content">
											<h3>Environment</h3>
											<ul>
												<li>Welcoming classes</li>
												<li>Openess - An emotionally supportive environment.</li>
												<li>Commitment - a committed environment so you can focus and progress.</li>
												<li>Inspiration - so you feel motivated by seeing your potential for growth.</li>
												<li>Honesty - self honesty allows us to deal with what is real </li>
											</ul>
										</div>
									</article>
									<article>
										<div class="content">
											<h3>Envrionment</h3>
											<h4>Move from exhaustion and burnout to energy, confidence and inner-calm</h4>
											<p>Nervous system regulation and health promotion skills for health service, social and teaching professionals</p>
											<ul class="actions">
												<li><a href="/programmes/public-service/" class="button">Find out more</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
										<div class="content">
											<h3>Pricing</h3>
											<p>All weekly classes cost a simple £20 per week. 
											<br>The Caring for Carers programme is at a discounted £20/week for the pioneer 1st cohort which are currently being recruited, and still to be determined for future cohorts.</p>
											<ul class="actions">
												<li><a href="{{ cta_href }}" class="button">{{ cta_label }}</a></li>
											</ul>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic06.jpg" alt=""></a>
										<div class="content">
											<h3>Frequently Asked Questions</h3>
											<p>Find the answers to commonly asked questions and ask one if you don't find the answer youo want.</p>
											<ul class="actions">
												<li><a href="/classes-pricing/faqs/" class="button">Find Answers</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
										<a href="#" class="image"><img src="images/pic07.jpg" alt=""></a>
										<div class="content">
											<h3>What To Expect</h3>
											<p>What can you expect to experience from the programmes on offer.</p>
											<ul class="actions">
												<li><a href="/classes-pricing/what-to-expect/" class="button">Find out more</a></li>
											</ul>
										</div>
									</article>
								</div>
							</div>
						</div>
						</section>

 <section id="what_to_expect" class="main alt">
    <header class="accent1">
        <h2>What to Expect In Class</h2>
    </header>
<div class="inner">
  <ul>
    <li>Relaxed, focused pace</li>
    <li>Weekly recordings</li>
    <li>Accessible movements; seated options</li>
  </ul>
</div>
</section>