---
layout: layouts/page.njk
title: "What to expect..."
subtitle: "when you take your first steps to be inner strong"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---


<section id="what_to_expect" class="main ">
						<header class="accent1">
							<h2>expect to experience a dedication to your wellbeing and a deep passion for helping you enhance your ability to thrive in your life.</h2>
						</header>
						<div class="inner">
						<div class="content">
											<h2>Approach</h2>
												<h3>Welcoming classes</h3><br> - So you feel relaxed and at home.
												<h3>Openess</h3><br> - An emotionally supportive open environment so you can focus on what is going to make the difference to you.
												<h3>Commitment</h3><br> - so you can easily have a relaxed focus so you progress as you wish.
												<h3>Inspiration</h3><br> - so you feel motivated by seeing your potential for growth.
												<h3>Honesty</h3><br> - self-honesty allows us to deal with what is real so we progresaddress the thigns that are going to make a difference.
											<h2>Class </h2>
												<h3>Chairs</h3><br> - So you can take a break if you need.
												<h3>Clear Guidance</h3><br> - so you can .
												<h3>Commitment</h3><br> - so you can easily have a relaxed focus so you progress as you wish.
												<h3>Inspiration</h3><br> - so you feel motivated by seeing your potential for growth.
												<h3>Honesty</h3><br> - self-honesty allows us to deal with what is real so we progresaddress the thigns that are going to make a difference.
										</div>
						</section>

 <section id="what_to_expect" class="main alt">
    <header class="accent1">
        <h2>What to Expect In Class</h2>
    </header>
<div class="inner">
  <ul>
    <li>Relaxed, focused pace</li>
    <li>Weekly recordings</li>
    <li>Accessible movements; seated options</li>
  </ul>
</div>
</section>