<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body class="is-preload">
    <div id="wrapper">
      {% include "partials/header.njk" %}
        {% block content %}{{ content | safe }}{% endblock %}
      {% include "partials/footer.njk" %}
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
