{% extends "layouts/base.njk" %}
{% block content %}
  {# Use page variables directly; no 'with' object passing #}
  {% include "partials/hero.njk" %}

  <section class="wrapper">
    <div class="inner">
      {{ content | safe }}
    </div>
  </section>
{% endblock %}
