---
layout: layouts/page.njk
title: "About Me"
subtitle: "My Story and Experience"
---

<section id="one" class="main">
    <header class="accent1">
     <h2>This brief story is about the transformation Tai Chi brought to my life— but it’s also about many of us.</h2>
        <h3>You might recognise yourself in part it.</h3>
       </header> 

    <div class="inner">
        <div class="content">
            <div class="row gtr-200 ">
                <div class="col-8 col-12-small auto-center align-center">
             <h3> Its October 2000,  I'm 25 and I'm unhappy.</h3> 
              <p>Nothing in life has taught me how to relax or feel happy & well. 
             </br>Right now, I don't even understand why I'm not happy. 
             <br>Constant emotional and physical tension feel normal,  
             <br/> I have some unhealthy coping habits like smoking. 
             <br> I am surviving, definitely not thriving.
        </p>
        <p>
            <strong>Then, something a friend says changes everything.</strong>
             <br/>I am in the shabby but homely lounge in our shared house, it is a light place, big window, tatty carpet, saggy sofa, white, textured papered walls.
             There is the rattle of pots and the smell of pasta coming from the connected kitchen and sunlight shafting in through the window.
             <br/>I'm chatting about feeling unhappy (moaning if I'm being honest :-), with my good friend Geoff and he makes the simplest observation that leads me to a transformational life path.
             </p>
             <p> 
             Geoff is a bit of a joker, he is light-hearted, he has dark hair and often a twinkle in his eye but when its important, he is always there for you because, aswell as the light heartedness, he has a kind empathic heart.
            <br>During the course of the conversation, he says 
            <br><strong>'you need to learn to relax mate'</strong>,
            <br> the conversation moves on but afterwards those words have stayed with me, they sit there the seed of a realisation. 
            </p>
            <p><strong> Over that week I wake up to the simple fact that I am quite stressed and I have no idea what to do about it</strong> 
            <br>It is such a simple realisation but it leads me to sign-up to a Tai Chi taster class run by my amazing Tai Chi teacher Christie. 
            <br/>I remember my first class, it is a few weeks later, I am in St Mary's church hall in Cardiff in the UK, it's more modern than old, it's warm and spacious, the floor is a welcoming warm brown herringbone pattern. 
            There are long curtains keeping the warmth in against the dark, cold, rainy October evening. The room is pretty full. 
            <br>We have a go at some of the simple movements in the class, and then Christie demonstrates the tai chi short form herself; the short form is a connected sequence of postures that flow from one into another.
            <br><strong> I see Christie moving and there is this incredible watery flowing quality to her movements, they are so fluid and deeply relaxed but simultaneously they have this incredible robust, strong quality.</strong>
            <br>I have never seen anyone move like this, I am immediately drawn to it. 
            <br>Looking back, I think something inside me just knows that this is what I need.  
        </p>
        <p>
            <strong>Over time as I practise, tension starts to leave my body and my nervous system settles.</strong>
             I start to feel lighter, healthier, and more grounded. My focus and confidence develops, as months pass and I feel the benefits, I start to practise more consistently. I can't remember exactly when it started but at times I feel internally connected for the first time since I was a child. This process continues and develops for many years, I become more and more well and along the way, Christie encourages me to step up and she starts to teach me how to teach.
             </p>

<h3>Im sharing this story with you for two reasons</h3>

<h4>Firstly because it shows that anyone can learn these things, if someone who s sgtrssed tense and has hardly any body or emotional awareness can tread this path, anyone can :-)</h4>

<h4>And secondly because experiencing this transformation and the support and care of a committed skilled teacher is the source of my passion for sharing this with you.</h4>                 
        
        <p><strong>Another time, if you come to class or start an online programme, you will be able to laugh at the story of how I ended up allowing someone else to seriously undermine this inner-peace I had achieved and tip me back into reactivity.</strong>. 
        <br>Don't worry, that story of making the same mistake twice (which resonates so much with many of us) is really about how these skills helped me to regain inner-peace and wellbeing in the most emotionally demanding of situations.  
        <br>It was the experience that gave me an even fuller understanding of the the true depth and power of learning to release physical tension to regulate your nervous system & emotions. 
        <br>It is what showed me how you can release tension and bring peace, focus and energy to your experience even incredibly adverse circumstances.</p>
                </div>
            
              
            </div>
        </div>
    </div>
    </section>

    <section id="one" class="main">
    <header class="accent1">
     <h2>My Experience</h2>
        <h3>Its quite varied</h3>
       </header> 

    <div class="inner">
        <div class="content">
            <div class="row gtr-200 ">
                <div class="col-8 col-12-small auto-center align-center">
             <h3> These are the main areas of experience that relate to Inner Strong</h3> 
              <ol><li><strong>First is my personal practise of Tai Chi</strong>
              <br>I started practising in 2000 and taught my first class in 2005. Personal experience which mirros the experience of countless others has taught me the profoundl;y ppositive effects that come from these practises. This is why these tried and tested practises are the core of Inner Strong Programmes.</li>   
              <li><strong>A life-long love of science</strong>. Particularly psychology and biological sciences. My first degree was in Psychology, I graduated in 1998. Inner strong prgrammes combine insights from the trusted traditions of Tai Chi and Chinese Medicine, and insights from modern behavioural science and modern scientific insights into how to regulate the nervous system.  </li>
               <li><strong>Acupuncture and Chinese Medicine Training</strong> - I started training in 2008 and qualified in 2012. Years of practise of Acupuncture and Tai Chi have given me a deep insight into the profound emotional and physical changes that are possible for people when the functioning of the body is harmonised.</li>
             </ol>

             <h3> I also have other Roles</h3> 
                <ol>
                <li><strong>Assistant programme leader for  Professional & Reflective Practise  </strong> - Acupuncture degree at the College of Integrated Chinese Medcine in the UK</li>   
                <li><strong>Communications Manager   </strong> - British Acupuncture Council  </li>   
                <li><strong>Founding Director</strong> - Evidence Based Acupuncture</li>
                <li><strong>Charity and social enterprise non-executive directorships</strong> - Prior to training as an acupuncturist my passion for helping people also found an outlet supporting charities and social enterprises.</li>
                </ol>
        </p>
        </div>
        </div>
        </div>
