---
layout: layouts/page.njk
title: "About InnerStrong"
subtitle: "What will following an inner strong programme do for you?"
---

<section id="one" class="main">
    <header class="accent1">
      <h2>When our body and mind are relaxed and regulated, our entire experience of life improves.</h2>
        </header> 
  </section>
   <section id="two" class="main alt">     
        <header>
        <h2>Deeper relaxation and nervous system regulation isn’t a talent.</h2>
        <h2>It isn't a fixed feature of your body or personality.</h2>
         <h2>It isn't complicated or technical to get started with.</h2>
        <h3>Deeper relaxation and nervous system regulation is a practical, physical skill, that anyone can learn.
       </h3>
     
<h4>What Do you need to succeed?...</h4>
        <blockquote>
        <strong>All you need is a willingness to try an enjoyable, welcoming class with a dedicated, passionate teacher and then to spend a little time each week giving yourself the self focus you deserve.<br>
        When you do this, you will find what I found, that a small amount of enjoyable, regular, self-focus gradually accumulates into a profoundly positive enhancement in how you experience your life & health.</strong>
        </blockquote>

        <a href="/classes-pricing/" class="button ">Find out more now &amp; book your first class</a>
</header>
   
    </section>