---
layout: layouts/page.njk
title: "Frequently Asked Questions"
subtitle: "Supportive, inspiring, enjoyable"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="faq" class="main">
 <div class="inner">
                <h3>Who It’s For</h3>
                    <p>Anyone seeking to enhance their emotional and physical health and develop more sustainable energy and improved health.</p>
                    
                        <h3>Approach</h3>
                        <ul>
                            <li>Relaxed, encouraging and positive</li>
                            <li>Steady, consistent skill-building</li>
                            <li>Enjoyable, welcoming classes</li>
                            <li>Clear, easy to follow supportive teaching</li>
                        </ul>

                        <h3>What We Learn</h3>
                        <ul>
                            <li>Tai Chi & Qi Gong which are physical practises that help us build 'interoception - awareness in our body, to release tension and build a relaxed inner strength.</li>
                            <li>Simple protocols that takje a few minutes that allow us to quickly up or down regulate our nervous system depending on what we need.</li>
                            <li>Modern practical insights that support our ability to establish habits that change and emotional wellbeing.</li>
                            <li>An simple accessible understanding of the nervous system so we understand what choices to make to best control our experience.</li>
                            <li>Self-care wisdom from both modern science and traditional eastern pratises</li>
                        </ul>

                    <a href="/programmes-pricing/" class="button ">Take the first step — book your first class</a>

                </div>
</section>


<section id="faq" class="main">
    <header class="accent1">
<h2>FAQs</h2>
    </header>
<div class="inner">

<p><strong>What should I bring?</strong> Bring a drink, a snack if you need one and an intention to have fun, explore a new .</p>
<p><strong>What should I wear?</strong> Loose clothes that allow you to move freely are best but if you can't one week, don't worry.</p>
<p><strong>Experience required?</strong> No — this class is great for beginners.</p>
<p><strong>Why is the class 2 Hours?</strong> When you start trying to release physical &amp; emotional tension, it is a process of letting go, it happens gradually much like ripples settling in a pool. Having longer allows our mind and body to engage more deeply into a much more grounded experience which is more satisfying and helps us progress more quickly week to week.</p>
<p><strong>How do I pay?</strong></p>
<p>Use the Stripe link below.</p>

<p>
<strong>There is a £20 weekly payment for the full 2 hour class but no ongoing commitment</strong>
I use a recurring weekly payment to avoid wasting class time dealing with payments but if you need to stop being part of the class, you can cancel anytime online or just let me know.</p>
<a href="{{ cta_href }}" class="button primary">£20/week</a> 
</div>
    </section>