---
layout: layouts/page.njk
title: "About InnerStrong"
subtitle: "Why I am so passionate about sharing these skills?"
---

<section id="one" class="main">
    <header class="accent1">
        <h2></h2>
        <p>This brief story is about me — but it’s also about many of us. You might recognise part of yourself in it.</p>
        <p>
            When I was 25, I was tense, stressed, and unhappy. Nothing in life had shown me how to relax or feel happy & well.  Looking back, I realise I didn't even notice that was how I felt, constant emotional and physical tension felt normal,  — I had some unhealthy coping habits and poor self care - I was surviving, not thriving.
        </p>
        <p>
            Then something changed. Something my very good friend Geoff said helped me realise that I didn’t know how to relax. I walked into the class of my teacher, Christie, and discovered Tai Chi and Qi Gong — simple, powerful practices that calm the mind and strengthen the body.
        </p>
        <p>
            Over time, I released tension and my nervous system settled. I felt lighter, healthier, and more grounded. My focus and confidence developed, and I felt connected for the first time since I was a child. That transformation changed my life, and for over 15 years I’ve helped others experience the same shift — from tension and stress to calm strength and genuine wellbeing.
        </p>
    </header>
    <div class="inner alt">
        <div class="content">
            <div class="row gtr-200">
                <div class="col-12">
                    <h3>Deeper relaxation and nervous system regulation isn’t a talent — it’s a practical skill, that anyone can learn.>/h3>
                    <div class="box">
                        <h4>When your body and mind are relaxed and regulated, everything changes.</h4> 
                        <br/>All it takes is a willingness to begin — to try one enjoyable, welcoming class and then to spend a bit of time each week giving yourself the proper care and attention you deserve. 
                        <br/>You will find what I found, that a really small amount of regular self-focus accumulates into a profoundly positive enhancement to how you experience your life.  
                    </div>
                    <ul><li><a href="/classes-pricing/" class="button ">Take the first step — book your first class</a></li></ul>
                </div>
            
                <div class="col-12">
                <h3>Who It’s For</h3>
                    <p>Anyone seeking to enhance their emotional and physical health and develop more sustainable energy and improved health.</p>
                    
                        <h3>Approach</h3>
                        <ul>
                            <li>Relaxed, encouraging and positive</li>
                            <li>Steady, consistent skill-building</li>
                            <li>Enjoyable, welcoming classes</li>
                            <li>Clear, easy to follow supportive teaching</li>
                        </ul>

                        <h3>What We Learn</h3>
                        <ul>
                            <li>Tai Chi, Qi Gong, and other simple practices that teach how to achieve relaxation and nervous system regulation.</li>
                            <li>Modern insights that support habit change and emotional wellbeing.</li>
                            <li>An accessible understanding of the nervous system so we understand how to control our experience.</li>
                            <li>Self-care wisdom from both modern science and traditional Chinese Medicine</li>
                        </ul>

                </div>
            </div>
        </div>
    </div>
    </section>