---
layout: layouts/page.njk
title: "About InnerStrong"
subtitle: "Why I am so passionate about sharing these skills?"
---

<section id="one" class="main">
    <header class="accent1">
        <h2>This brief story is about me — but it’s also about many of us.</h2>
        <p>You might recognise part of yourself in it.</p>
        <p>
            When I was 25, I was tense, stressed, and unhappy. </br>
            Nothing in life had shown me how to relax or feel happy & well. </br>
            Looking back, I realise I didn't even notice that was how I felt, constant emotional and physical tension felt normal,  — I had some unhealthy coping habits and poor self care - I was surviving, definitely not thriving.
        </p>
        <p>
            Then something changed. I have a very long standing and good hearted friend called Geoff. Something he said helped me realise that I didn’t know how to relax. It was a simple realisation but it led me to walk into a taster class by my amazing Tai Chi teacher, Christie. I can still remember the incredible flowing soft but strong feel of her movement. I had never seen anyone move like that, I was immediately intrigued. I think something inside me just knew that this was what I needed.  So this was where I discovered Tai Chi and Qi Gong — simple, powerful practices that calm the mind and strengthen the body. 
        </p>
        <p>
            Over time as I practised, I released tension and my nervous system settled. I felt lighter, healthier, and more grounded. My focus and confidence developed, and I felt truly internally connected for the first time since I was a child. That transformation changed my life, and inspired me to dedicate myself to helping others who wanted to be more well, for the last 15 years I’ve helped others experience the same shift — from tension and stress to genuine wellbeing. 
        </p>
        <p><strong>I really hope you will take the same simple step I took of coming to try out an enjoyable, welcoming, class.</strong></p>
    </header>
    <div class="inner alt">
        <div class="content">
            <div class="row gtr-200">
                <div class="col-12">
                    <h3>Deeper relaxation and nervous system regulation isn’t a talent — it’s a practical skill, that anyone can learn.</h3>
                    <div class="box">
                        <h4>When your body and mind are relaxed and regulated, everything changes.</h4> 
                        <p>All it takes is a willingness to try an enjoyable, welcoming class and then to spend a little bit of time each week giving yourself the proper care and attention you deserve. 
                        <br/>You will find what I found, that a really small amount of regular self-focus accumulates into a profoundly positive enhancement to how you experience your life.</p> 
                    </div>
                    <a href="/classes-pricing/" class="button ">Take the first step — book your first class</a>
                </div>
            
                <div class="col-12">
                <h3>Who It’s For</h3>
                    <p>Anyone seeking to enhance their emotional and physical health and develop more sustainable energy and improved health.</p>
                    
                        <h3>Approach</h3>
                        <ul>
                            <li>Relaxed, encouraging and positive</li>
                            <li>Steady, consistent skill-building</li>
                            <li>Enjoyable, welcoming classes</li>
                            <li>Clear, easy to follow supportive teaching</li>
                        </ul>

                        <h3>What We Learn</h3>
                        <ul>
                            <li>Tai Chi, Qi Gong, and other simple practices that teach how to achieve relaxation and nervous system regulation.</li>
                            <li>Modern insights that support habit change and emotional wellbeing.</li>
                            <li>An accessible understanding of the nervous system so we understand how to control our experience.</li>
                            <li>Self-care wisdom from both modern science and traditional Chinese Medicine</li>
                        </ul>

                    <a href="/classes-pricing/" class="button ">Take the first step — book your first class</a>

                </div>
            </div>
        </div>
    </div>
    </section>