---
layout: layouts/page.njk
title: "About InnerStrong"
subtitle: "Why I am so passionate about sharing these skills?"
---

<section id="one" class="main">
    <header class="accent1">
        <h2>This brief story is about me — but it’s also about many of us.</h2>
        <p>You might recognise part of yourself in it.</p>
        <p>
             <strong>I'm 51 as I write this but when I was 25, I was tense, stressed, and unhappy.</strong> </br>
            Nothing in life had shown me how to relax or feel happy & well. </br>
            Looking back, I didn't even understand why I wasn't happy; constant emotional and physical tension felt normal,  <br/>— I had some unhealthy coping habits and poor self care - I was surviving, definitely not thriving.
        </p>
        <p>
            Then something a friend said started a path that changed everything. <br/>I am in the shabby but homely lounge in our shared house, it is a light place, big window, tatty carpet, white walls, the smell of cooking coming from the connected kitchen. I'm chatting, (moaning:-) about my situation with my very longstanding friend Geoff and he says something that leads me to a completely different path. Geoff is quite a joker, he is often light-hearted, he is fun with dark hair and often a twinkle in his eye but when its important he is always there for you because underneath the joking around, he has a kind caring heart.
            <br>During the course of the conversation, he says, 'you need to learn to relax'. The conversation moves on but afterwards thoe words land like a seed in my mind. 
            <br>Over the following week or so that thought sits there and I started to realise that I really don't know how to relax, I am quite stressed. 
            <br>It is such a simple realisation but it leads me to commit to gooing to a taster class with a friend by my amazing Tai Chi teacher, Christie. We are in a wooden church hall, its kind of modern but it is warm and spacious, the floor is a welcoming warm brown herringbone pattern. There are long curtains keeping the warmth in against the cold rainy october evening. We have a go at the momevements in the class but at one point christie demonstrates the tai chi short form herself; the short form is a connected sequence of movements.
            <br><strong> I can still to this day, see, in my minds eye the incredible watery flowing of her movements, they were so fluid and deeply relaxed but also had this incredibly strong quality.</strong>
            <br>I had never seen anyone move like that, I was immediately intrigued. 
            <br>I think something inside me just knew that this was what I needed.  So this was where I discovered Tai Chi and Qi Gong — simple, powerful practices that calm the mind and strengthen the body. 
        </p>
        <p>
            Over time as I practised, tension started to leave my body and my nervous system settled. I felt lighter, healthier, and more grounded. My focus and confidence developed, and I felt truly internally connected for the first time since I was a child. This process contnued and developed for many years . </p>
            
           
        
        <p><strong>Another time, if you come to class or start an online programme you will be able to have a wry chuckle at the story of how I ended up allowing someone else to seriously undermine this deep peace and tip me back into reactivity!</strong>. That story of making the same mistake twice is another story that resonates with many of us but it is really about how these skills helped me to get that inner-peace back again, in the most emotionally demanding of situations and was key to more deeply understanding the depth and power of learning to release physical tension to regulate your nervous system.</p>
    
    </header>
    <div class="inner alt">
        <div class="content">
            <div class="row gtr-200">
                <div class="col-12">
                    <h3>Deeper relaxation and nervous system regulation isn’t a talent, it isn't a fixed feature of your body or personality and it isn't complicated or technical — it’s a practical physical skill, that anyone can learn.</h3>
                    <div class="box">
                        <h4>When your body and mind are relaxed and regulated, everything changes.</h4> 
                        <p>All it takes is a willingness to try an enjoyable, welcoming class and then to spend a little bit of time each week giving yourself the proper care and attention you deserve. 
                        <br/>You will find what I found, that a really small amount of regular self-focus accumulates into a profoundly positive enhancement to how you experience your life.</p> 
                    </div>
                    <a href="/programmes-pricing/" class="button ">Take the first step — book your first class now</a>
                </div>
            
                <div class="col-12">
                <h3>Who It’s For</h3>
                    <p>Anyone seeking to enhance their emotional and physical health and develop more sustainable energy and improved health.</p>
                    
                        <h3>Approach</h3>
                        <ul>
                            <li>Relaxed, encouraging and positive</li>
                            <li>Steady, consistent skill-building</li>
                            <li>Enjoyable, welcoming classes</li>
                            <li>Clear, easy to follow supportive teaching</li>
                        </ul>

                        <h3>What We Learn</h3>
                        <ul>
                            <li>Tai Chi, Qi Gong, and other simple practices that teach how to achieve relaxation and nervous system regulation.</li>
                            <li>Modern insights that support habit change and emotional wellbeing.</li>
                            <li>An accessible understanding of the nervous system so we understand how to control our experience.</li>
                            <li>Self-care wisdom from both modern science and traditional Chinese Medicine</li>
                        </ul>

                    <a href="/programmes-pricing/" class="button ">Take the first step — book your first class</a>

                </div>
            </div>
        </div>
    </div>
    </section>