---
layout: layouts/page.njk
title: "Classes & Pricing"
subtitle: "Supportive, inspiring, enjoyable"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="one" class="alt">
						<header>
							<h2>Weekly Classes, Online Programmes, Pricing & FAQs</h2>
							<p>Find out more with the links below</p>
						</header>
						<div class="inner">
							<div class="posts">
								<div>
									<article>
										<a href="#" class="image"><img src="/images/pic05.jpg" alt=""></a>
										<div class="content">
											<h3>Weekly Classes</h3>
											<p>Weekly classes are available in-person and online</p>
											<ul class="actions">
												<li><a href="/classes-pricing/" class="button">Find out more</a></li>
											</ul>
										</div>
									</article>
									<article>
										<div class="content">
											<h3>Online Programme - Caring for Carers</h3>
											<h4>Move from exhaustion and burnout to energy, confidence and inner-calm</h4>
											<p>Nervous system regulation and health promotion skills for health service, social and teaching professionals</p>
											<ul class="actions">
												<li><a href="/programmes/public-service/" class="button">Find out more</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
										<div class="content">
											<h3>Pricing</h3>
											<p>All weekly classes cost a simple £20 per week. 
											<br>The Caring for Carers programme is at a discounted £20/week for the pioneer 1st cohort which are currently being recruited, and still to be determined for future cohorts.</p>
											<ul class="actions">
												<li><a href="{{ cta_href }}" class="button">{{ cta_label }}</a></li>
											</ul>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="/images/pic06.jpg" alt=""></a>
										<div class="content">
											<h3>Frequently Asked Questions</h3>
											<p>Find the answers to commonly asked questions and ask one if you don't find the answer you need.</p>
											<ul class="actions">
												<li><a href="/classes-pricing/faqs/" class="button">Find Answers</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
										<a href="#" class="image"><img src="/images/pic07.jpg" alt=""></a>
										<div class="content">
											<h3>What To Expect</h3>
											<p>What can you expect to experience from the classes & programmes on offer.</p>
											<ul class="actions">
												<li><a href="/classes-pricing/what-to-expect/" class="button">Find out more</a></li>
											</ul>
										</div>
									</article>
								</div>
							</div>
						</div>
						</section>
					
