---
layout: layouts/page.njk
title: "Classes & Pricing"
subtitle: "Welcoming, supportive, enjoyable"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---

<section id="one" class="main">
    <header class="accent1">
      <h2>Weekly In-person Class - Thursdays, 7–9 pm from 29th October 2025</h2>
       <h3>Tremarchog Village Hall, St Nicholas, Goodwick, SA64 0LG.</h3>
       <h4>Cost: £20/week for the full 2 hour class.</h4>
       <strong>No Ongoing Commitment</strong>
    <br/>A recurring payment is setup so that we don't waste time in class dealing with payments but, if you decide you want to stop being a part of the class, you can cancel anytime either online or just let me know.</p> 
    <p><strong>Each class is recorded and made available privately to each class member so you can repeat it during the week, or still benefit if you missed the class.</p>

    <p>There is a break in the middle of the class but it is fine to take breaks whenever you need. Seated options are available.</p> 
    </header>

    <header class="alt">
      <h2>Not Local? - No problem! You can Attend the Weekly Class Online</h2>
    </header>
    <div class="inner">
    <p>Just book as normal and choose the attend online option. <a class="button" href="enquiries@beinnerstrong.info">enquiries@beinnerstrong.info</a></p>
  </div>
</section>

<section id="online_programme" class="main accent2">
 {% include "partials/programmes-healthprofessionals.njk" %}
  
</section>

<section id="what_to_expect" class="main alt">
    <header class="">
<h2>What to Expect In Class</h2>
    </header>
<div class="inner">


<ul>
  <li>Relaxed, focused pace</li>
  <li>Weekly recordings</li>
  <li>Accessible movements; seated options</li>
</ul>
</div>
</section>

<section id="faq" class="main">
    <header class="">
<h2>FAQs</h2>
    </header>
<div class="inner">

<p><strong>What should I bring?</strong> Wear loose clothes, bring a drink, snack and anintention to have fun and explore.</p>
<p><strong>Experience required?</strong> No — this class is great for beginners.</p>
<p><strong>Why is the class 2 Hours?</strong> When you start trying to relax physical &amp; emotional tension, it is a process of lettig go, it happens gradually. Like ripples settling in a pool. The second hour allows our mind and body to settle into a more grounded experience which is more satisfying and helps us progress more easily week to week.</p>
<p><strong>How do I pay?</strong></p>
<p>Use the Stripe link below.</p>

<p>
<strong>There is a £20 weekly payment for the full 2 hour class but no ongoing commitment</strong>
I use a recurring weekly payment to avoid wasting class time dealing with payments but if you need to stop being part of the class, you can cancel anytime online or just let me know.</p>
<a href="{{ cta_href }}" class="button primary">£20/weekly</a> 
</div>
    </section>