---
layout: layouts/page.njk
title: "Classes & Pricing"
subtitle: "Supportive, inspiring, enjoyable"
cta_href: "https://buy.stripe.com/00w14n0V2eNs5TK86783C00"
cta_label: "Book Now"
---


						<header>
							<h2>Auctor nam sed aliquam</h2>
							<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue eu vulpu magna erat. Aliquam erat volutpat. Nam dui mi tincidunt magna accumsan.</p>
						</header>
						<div class="inner">
							<div class="posts">
								<div>
									<article>
										<a href="#" class="image"><img src="images/pic05.jpg" alt=""></a>
										<div class="content">
											<h3>Weekly Classes</h3>
											<p>Weekly classes available in person and online</p>
											<ul class="actions">
												<li><a href="/classes-pricing/" class="button">More</a></li>
											</ul>
										</div>
									</article>
									<article>
										<div class="content">
											<h3>Caring for Carers</h3>
											<p>Support and skills for health service, social and teaching professionals</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
										<div class="content">
											<h3>Sed amet feugiat</h3>
											<p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Lorem nulla sed gravida non.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic06.jpg" alt=""></a>
										<div class="content">
											<h3>Gravida veroeros</h3>
											<p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Lorem nulla sed gravida non.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
										<a href="#" class="image"><img src="images/pic07.jpg" alt=""></a>
										<div class="content">
											<h3>Ipsum volutpat</h3>
											<p>Donec consectetuer ligula vulputate sem tristique cursus. Lorem nulla sed gravida non. Phasellus et ultricesnulla quis nibh. Quisque amet lorem lectus. Magna consectetuer ligula vulputate sem tristique cursus magna.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
								</div>
							</div>
						</div>
					




<section id="one" class="main">
    <header class="accent1">
	<h2>Weekly In-person Class - Thursdays, 7–9 pm from 29th October 2025</h2>
	<h3>Tremarchog Village Hall, St Nicholas, Goodwick, SA64 0LG.</h3>
	<p><strong>Cost: £20/week for the full 2 hour class.
	<br>There is a break in the middle of the class but it is fine to take breaks whenever you need. Seated options are available.</strong></p> 
	<p><strong>Class replay available weekly</strong><br>
Each class is recorded and for the following the week so you can repeate it or still benefit if you missed the live class.</p>
   


	<p><strong>No Ongoing Commitment</strong><br>
    A recurring payment is setup so that we don't waste time in class dealing with payments but, if you decide you want to stop being a part of the class, you can cancel anytime either online or just let me know.
	</p>

    <p><h2>Not Local? - Not a problem. <br/>You can Attend the Weekly Class Online</h2></p>
    <p><strong>Just book as normal and choose the online option.</strong></p>
	<a class="button" href="{{ cta_href }}">{{ cta_label }}</a>
    </header>
    
</section>

<section id="what_to_expect" class="main alt">
    <header class="">
<h2>What to Expect In Class</h2>
    </header>
<div class="inner">
  <ul>
    <li>Relaxed, focused pace</li>
    <li>Weekly recordings</li>
    <li>Accessible movements; seated options</li>
  </ul>
</div>
</section>

<section id="faq" class="main">
    <header class="">
<h2>FAQs</h2>
    </header>
<div class="inner">

<p><strong>What should I bring?</strong> Wear loose clothes, bring a drink, snack and anintention to have fun and explore.</p>
<p><strong>Experience required?</strong> No — this class is great for beginners.</p>
<p><strong>Why is the class 2 Hours?</strong> When you start trying to relax physical &amp; emotional tension, it is a process of lettig go, it happens gradually. Like ripples settling in a pool. The second hour allows our mind and body to settle into a more grounded experience which is more satisfying and helps us progress more easily week to week.</p>
<p><strong>How do I pay?</strong></p>
<p>Use the Stripe link below.</p>

<p>
<strong>There is a £20 weekly payment for the full 2 hour class but no ongoing commitment</strong>
I use a recurring weekly payment to avoid wasting class time dealing with payments but if you need to stop being part of the class, you can cancel anytime online or just let me know.</p>
<a href="{{ cta_href }}" class="button primary">£20/week</a> 
</div>
    </section>