---
layout: layouts/home.njk
hero_title: "Master releasing tension so you can gain energy, health and inner calm."
hero_sub: "Strengthen yourself from the inside out."
hero_cta_href: "/classes-pricing"
hero_cta_label: "Take your first step"
hero_display_secondary: "true"
---

<!-- Section -->
					<section id="programmes" class="main">
						<header class="accent2">
							<h2>Online Programmes</h2>
							<p>If you are not close enough to attend a weekly class in person, you can attend online just <a href="{{ hero_cta_href }} class="button">go here to book</a> and choose the online option OR if you are a public service professional join the pioneer programme on the specific programme below designed for your needs..</p>
						</header>
						</section>
						<section id="programmes" class="main">
						<header class="alt">
							<h4>Caring for Carers - Health service, Social and Teaching Professionals</h4>
							<br/>
							<strong>Move from exhaustion and burnout to energy, confidence and inner calm</strong>
								<h4>Why am I so passionate about supporting Health, Social and Teaching professionals?</h4>
								<p>My mum worked in the NHS all her life and, in my acupuncture practise and in tai chi classes I have seen nurses, teachers, physios, radiographers, GPs, anaesthetists, surgeons & social workers.  I know how deeply you dedicate yourself to the service of others and the toll it can take on your own wellbeing.</p>
									<p><strong>My mum could have died due to this dedication</strong><br> After needing to work 24hours straight through, my mum fell sleep driving home and crashed. Thankfully she recovered fine but, I know that too often, despite you giving everything, the system you work in doesn't care effectively for you. </p>
									<p>I know that many of you think about leaving the job you were once passionate about because your wellbeing is being destroyed by it.
									<h4>I feel massively passionate that you, the people who make the world a better place, should be cared for and properly supported</h4>
									<h5> I want to give you the skills, support and community that will help you neutralise stress and keep yourself well, so you can feel passionate about your job and still have the energy you want for your own life.</h5>
						</header>
						<ul class="tabs">
							<li>
								<h3>Health, teaching, or social care professional?</h3>
								<div class="spotlight">
									<ul>
										<li>
											<h4>What is the Programme?</h4>
											<p>This programme is specifically designed to help you manage the emotional and physical demands of your work in a way that keeps you well and lets you thrive in your personal life. The programme helps you develop skills and experience community, encouragement and support to keep you motivating and progressing. </p>
										</li>
									</ul>
									<span class="image"><img src="images/hands-holding-sapling-together.jpg" alt="Hands holding a sapling together" /></span>
									<ul>
										<li>
											<h4>How Does it Help?</h4>
											<p>When you develop your skill in releasing stress and tension, you also develop your ability to notice more quickly when you are experiencing stress.  This combination allows you to progressively shift the baseline of your nervous system activation so you feel more deeply regulated more of the time. This keeps you out of chronic stress and enables you to stay healthy, happy and well.</p>
										</li>
										<li>
											<h4>The Result</h4>
											<p>With this course and community of fellow students, you will feel cared for and supported and you will be encouraged in developing life-changing skills. You will learn skills that move you from stress, burnout or overwhelm to feelings of calm, grounded confidence. This will allow you to have confidence and passion in your work and to have the energy you want in your personal life.</p>
										</li>
									</ul>
								</div>
							</li>
							<!--<li>
								<h3>Freedom from Narcissism</h3>
								<div class="spotlight">
									<ul>
										<li>
											<h4>Why a Focus on Narcisistic Relationships ?</h4>
											<p>I know first hand the damaging effects of being subject to narcissistic control. I also know how I built resilience and set myself free from being controlled. </p>
										</li>
										<li>
											<h4>What is the Programme?</h4>
											<p>This programme is specifically designed to help you get clarity on how you are being emotionally controlled in the narcissistic relationship and to enable you to free yourself from the emotional responses that keep you trapped in these dynamics.</p>
										</li>
									</ul>
									<span class="image"><img src="images/balloon-free-in-air.jpg" alt="White balloon floating free in the air" /></span>
									<ul>
										<li>
											<h4>How Does it Help?</h4>
											<p>Narcisistic people control us through our own feelings, fears and reactions, and by distorting our sense of emotional reality so we end up believing that we are the problem. When we are grounded in our body we gain clarity and confidence and are able to act from a place of self-integrity and greater confidence that cannot be controlled.</p>
										</li>
										<li>
											<h4>The Result</h4>
											<p>With this course and community, you Will feel cared for and supported. You will learn skills that help you gain emotional clarity so you take back control of your emotional state and build the grounded calm & confidence that will help allow you to set yourself free from control.</p>
										</li>
									</ul>
								</div>
							</li>-->
							<!--<li>
								<h3>Stress & Overwhelm</h3>
								<div class="spotlight">
									<ul>
										<li>
											<h4>Why a Focus on Stress & Overwhelm?</h4>
											<p>More and more people are struggling to feel at peace inside. Emotional overwhelm, stress, anxiety, fear and excessive anger are now norms in our society. Living like this is stressful and exhausting. <br> This is how I lived before I learned the skills of physical and emotional release. These skills allow you to regulate your nervous system and keep yourself healthy, calm and and well. </p>
										</li>
										<li>
											<h4>What is the Programme?</h4>
											<p>This programme is specifically designed to help you use the skills of deeper physical release and informed self-care to ground and regulate your nervous system so you feel grounded at peace.</p>
										</li>
									</ul>
									<span class="image"><img src="images/woman-smiling-asleep.jpg" alt="A young woman relaxed and smiling, asleep on a white pillow " /></span>
									<ul>
										<li>
											<h4>How Does it Help?</h4>
											<p>Our nervous system is the lens through which we experience and interpret the world. When we ground our nervous system our entire experience of life changes. Things that previously stressed us feel manageable and we feel a more grounded, confident connection to the people and world around us.</p>
										</li>
										<li>
										<h4>The Result</h4>
										<p>With this course and community, you Will feel cared for and supported. You will learn skills that help you take back control of your emotional state and build a grounded calm & confidence that will enable you to experience your life in a connected confident manner.</p>
										</li>
									</ul>
								</div>
							</li>-->
						</ul>
					</section>

				<!-- Section -->
					<section id="two" class="main accent2">
						<header>
							<h2>Weekly In-person Classes</h2>
              				<h3>Learn skills that will give you energy, relaxation and focus.</h3>
							<p>Join our welcoming weekly in-person class in St Nicholas — relaxed, supportive, it is suitable for everyone. Beginners are absolutely welcome.</p>
							<p> <strong>Each class is recorded so you can do it more than once or catch up anytime.</strong></p>
							<a href="{{ cta_href }}#in_person_class" class="button">Find Out How To Book</a>
						</header>
						<div class="inner">
							<span class="image main"><img src="images/lily-water.jpg" alt="" /></span>
						</div>
					</section>

					<section id="three" class="main alt"> 
						<header class="accent1">
							<h2>What you will gain?</h2>
						</header>
						<div class="inner">
							<div class="posts">
								<div>
									<article>
										<a href="#" class="image"><img src="images/woman-smiling-drinking-tea.jpg" alt="Woman smiling resting back in a chair holding a mug of tea" /></a>
										<div class="content">
											<h3>Physical Wellbeing</h3>
											<p>When we are relaxed and present, the body is in the 'rest and digest', state in which processes that repair and renew our body work best. Being more consistently in this state enhances our ability to stay healthy.</p>
									<!--<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>-->
										</div>
									</article>
									<article>
										<div class="content">
											<h3>Emotional Resilience & Improved Sleep</h3>
											<p>As we learn to use physical release to regulate our nervous system we experience greater calm in the face of things that used to stress us out and we find it easier to achieve good quality sleep.</p>
										<!--<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>-->
										</div>
									</article>
								</div>
								<div>
									<article>
										<div class="content">
											<h3>Greater Enjoyment and Connection in your life </h3>
											<p>When our nervous system is in overdrive from stress, high emotion or overstimulation, our attention narrows. When we are more deeply regulated, our attention broadens, we are able to experince greater breadth and depth of connection with the people in our life and the world around us.</p>
										<!--<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>-->
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/runner-road-red-sun.jpg" alt="Runners legs on the road with a red sunset behind" /></a>
										<div class="content">
											<h3>Consistent Energy and Focus</h3>
											<p>When the mind and body are relaxed and engaged, we are no longer worn out dealing with stress and tension and have more of our energy and focus available for the things we need them for. </p>
											<!--<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>-->
										</div>
									</article>
								</div>
								<div>
									<article>
										<a href="#" class="image"><img src="images/people-eating-meal-from-above.jpg" alt="People eating a meal seen from above" /></a>
										<div class="content">
											<h3>Easier self-care</h3>
											<p>When we are well regulated, our deepeer connection with our body & mind makes making good self care decisions much easier; we more naturally choose the thing that is good for us without it being an effort.</p>
										<!--	<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>-->
										</div>
									</article>
								</div>
							</div>
						</div>
					</section>