<footer id="footer">
  <ul class="copyright">
    <li>&copy; {{ "now" | date("yyyy") }} InnerStrong. All rights reserved.</li>
    <li><a href="/policies/privacy/">Privacy</a></li>
    <li><a href="/policies/terms/">Terms</a></li>
  </ul>
</footer>
