
					<footer id="footer">
						<div class="inner">
							<section>
								<h3>For Inspiration and Updates</h3>
								<p>On socials I post guidance, inspiration and anything else that I feel will support you.</p>
								<ul class="icons">
									<li><a href="https://www.facebook.com/beinnerstrong" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/beinnerstrong" class="icon brands fa-instagram"><span class="label">Insta</span></a></li>
								</ul>
							</section>
							<section class="narrow">
								<h4>Information</h4>
								<ul class="links">
									<li><a href="/policies/privacy/">Privacy</a></li>
									<li><a href="/policies/terms/">Terms</a></li>
								</ul>
							</section>
							<section class="narrow">
								<h3> Got any Questions?</h3>
								<p>If you have any questions or want to to ask anything to help you decide if this is for you, get in touch any time.</p>
								<ul class="links">
									<li><a href="tel:+447968-576233" class="major">Call (44)7968576233</a></li>
									<li><a href="mailto:hello@beinnerstrong.info" class="major">hello@beinnerstrong.info</a></li>
									<li><a href="https://wa.me/447968576233" class="icon brands fa-whatsapp"><span class="label">Click for Whats App</span></a></li>
								</ul>
							</section>
						</div>
						<div class="copyright">
							<p>&copy; {{ "now" | date("yyyy") }} InnerStrong. All rights reserved.</p>
						</div>
					</footer>