<header id="header" class="alt">

  <div class="logo">
    <a href="/">
    <svg
   width="10mm"
   height="10mm"
   viewBox="0 0 10 10"
   version="1.1"
   id="svg1"
   inkscape:version="1.4 (86a8ad7, 2024-10-11)"
   sodipodi:docname="logo-inkscape.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="true"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     inkscape:zoom="0.68862935"
     inkscape:cx="394.98752"
     inkscape:cy="561.25984"
     inkscape:window-width="1920"
     inkscape:window-height="991"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs1">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2">
      <path
         d="M 0,903 H 503.334 V 0 H 0 Z"
         transform="translate(-432.59861,-551.25001)"
         id="path2" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath4">
      <path
         d="M 0,903 H 503.334 V 0 H 0 Z"
         transform="translate(-354.65141,-670.73831)"
         id="path4" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath6">
      <path
         d="M 0,903 H 503.334 V 0 H 0 Z"
         transform="translate(-316.76951,-635.81842)"
         id="path6" />
    </clipPath>
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-0.48674485,-0.15681151)">
    <path
       id="path1"
       d="m 0,0 c 0,-17.258 -13.992,-31.25 -31.25,-31.25 h -281.231 c -17.259,0 -31.25,13.992 -31.25,31.25 v 281.234 c 0,17.259 13.991,31.25 31.25,31.25 H -31.25 c 17.258,0 31.25,-13.991 31.25,-31.25 z"
       style="display:inline;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#1d1d1b;stroke-width:10.417;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
       transform="matrix(0.35277776,0,0,-0.35277776,123.58484,112.23166)"
       clip-path="url(#clipPath2)" />
    <path
       id="path3"
       d="m 0,0 c 0,-62.086 -42.725,-112.418 -95.427,-112.418 -52.709,0 -95.434,50.332 -95.434,112.418 0,62.085 42.725,156.087 95.434,156.087 C -42.725,156.087 0,62.085 0,0"
       style="display:inline;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#1d1d1b;stroke-width:2.604;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
       transform="matrix(0.35277776,0,0,-0.35277776,96.086798,70.078836)"
       clip-path="url(#clipPath4)" />
    <path
       id="path5"
       d="m 0,0 c 0,-37.441 -25.768,-67.794 -57.545,-67.794 -31.788,0 -57.554,30.353 -57.554,67.794 0,37.441 25.766,94.129 57.554,94.129 C -25.768,94.129 0,37.441 0,0"
       style="display:inline;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#1d1d1b;stroke-width:1.57;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
       transform="matrix(0.35277776,0,0,-0.35277776,82.722908,82.397796)"
       clip-path="url(#clipPath6)" />
  </g>
</svg>

      <strong>INNERSTRONG </strong> <span class="extra">Focus, energy and inner calm.</span></a>
  </div>

  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/classes-pricing/">Classes & Pricing</a></li>
      <li>
        <a href="#" class="icon solid fa-angle-down">Programmes</a>
        <ul>
          <li><a href="/programmes/public-service/">Public Service</a></li>
          <li><a href="/programmes/recovery/">Recovery</a></li>
          <li><a href="/programmes/high-stress-work/">High-Stress Work</a></li>
        </ul>
      </li>
      <li><a href="/contact/" class="button primary">Contact</a></li>
    </ul>
  </nav>
</header>
