<header id="header" class="alt">

  <div class="logo">
    <a class="brand"  href="/">
  <svg class="logo-em" style="width: 3em;  height: 3em;  vertical-align: middle;" viewBox="0 0 124.936 124.937" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
  
    <defs>
        <clipPath clipPathUnits="userSpaceOnUse" id="a">
            <path d="M0 903h503.334V0H0Z" transform="translate(-432.599 -551.25)"/>
        </clipPath>
        <clipPath clipPathUnits="userSpaceOnUse" id="b">
            <path d="M0 903h503.334V0H0Z" transform="translate(-354.651 -670.738)"/>
        </clipPath>
        <clipPath clipPathUnits="userSpaceOnUse" id="c">
            <path d="M0 903h503.334V0H0Z" transform="translate(-316.77 -635.818)"/>
        </clipPath>
    </defs>
    <path d="M0 0c0-17.258-13.992-31.25-31.25-31.25h-281.231c-17.259 0-31.25 13.992-31.25 31.25v281.234c0 17.259 13.991 31.25 31.25 31.25H-31.25c17.258 0 31.25-13.991 31.25-31.25z" style="display:inline;fill:#fff;fill-opacity:1;fill-rule:nonzero;stroke:#1d1d1b;stroke-width:10.417;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="matrix(.35278 0 0 -.35278 123.098 112.075)" clip-path="url(#a)"/>
    <path d="M0 0c0-62.086-42.725-112.418-95.427-112.418-52.709 0-95.434 50.332-95.434 112.418 0 62.085 42.725 156.087 95.434 156.087C-42.725 156.087 0 62.085 0 0" style="display:inline;fill:#000;fill-opacity:1;fill-rule:nonzero;stroke:#1d1d1b;stroke-width:2.604;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="matrix(.35278 0 0 -.35278 95.6 69.922)" clip-path="url(#b)"/>
    <path d="M0 0c0-37.441-25.768-67.794-57.545-67.794-31.788 0-57.554 30.353-57.554 67.794 0 37.441 25.766 94.129 57.554 94.129C-25.768 94.129 0 37.441 0 0" style="display:inline;fill:#fff;fill-opacity:1;fill-rule:nonzero;stroke:#1d1d1b;stroke-width:1.57;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="matrix(.35278 0 0 -.35278 82.236 82.241)" clip-path="url(#c)"/>
</svg>
      <strong>INNERSTRONG </strong> <span class="extra">Focus, energy and inner calm.</span></a>
  </div>

  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      
     <li>
        <a href="/programmes-pricing/" class="icon solid fa-angle-down">Class Info</a>
        <ul>
        <li><a href="/programmes-pricing/weekly/">Weekly Classes</a></li>
        <li><a href="/programmes-pricing/pricing/">Pricing</a></li>
        <li><a href="/programmes-pricing/faqs/">FAQs</a></li>
        <li><a href="/programmes-pricing/what-to-expect/">What to Expect</a></li>
        </ul>
        </li>

        <li>
        <a href="#" class="icon solid fa-angle-down">Online Programmes</a>
        <ul>
        <li><a href="/programmes/public-service/">For Health service, Social and Teaching Professionals</a></li>
          <li><a href="/programmes-pricing/weekly/#in-person-class">Attend weekly classes online</a></li>
         <!-- <li><a href="/programmes/recovery/">Recovery</a></li>
          <li><a href="/programmes/high-stress-work/">High-Stress Work</a></li>-->
        </ul>
        </li>

      <li><a href="/contact/" class="button primary">Contact</a></li>
    </ul>
  </nav>
</header>
