<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "InnerStrong - Relaxation, energy & focus" }}</title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!-- <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript> -->
</head>

