<section id="banner">
  <div class="content primary">
  				<header>
								 <h1>{{ title }}</h1>
								{% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
							</header>
    {% if cta_href %}
    <ul class="actions special">
      <li><a href="{{ cta_href }}" class="button primary">{{ cta_label }}</a></li>
    </ul>
    {% endif %}
  </div>
  <div class="content secondary">
    <div class="inner">
      <div class="features">
        <section>
          <span class="icon fa-gem major"></span>
          <h3>Relaxation</h3>
          <p>Release tension so your nervous system can settle</p>
        </section>
        <section>
          <span class="icon solid fa-chart-line major"></span>
          <h3>Energy</h3>
          <p>A harmonious regulated nervous system brings with it greater energy.</p>
        </section>
        <section>
          <span class="icon solid fa-camera-retro major"></span>
          <h3>Focus</h3>
          <p>When you spend most of youor time in a calm regulated state, your capacity for broad concentration and focus increases.</p>
        </section>
      </div>
    </div>
  </div>
  <video src="images/banner.mp4" muted autoplay loop playsinline></video>
</section>
