<section id="banner">
  <div class="content primary">
  				<header>
								 <h1>{{ title }}</h1>
								{% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
							</header>
    {% if cta_href %}
    <ul class="actions special">
      <li><a href="{{ cta_href }}" class="button primary">{{ cta_label }}</a></li>
    </ul>
    {% endif %}
  </div>
{% if display_secondary %}
  <div class="content secondary">
    <div class="inner">
      <div class="features">
        <section>
          <span class="icon fa-yin-yang major"></span>
          <h3>Relaxation & Release</h3>
          <p>Releasing physical tension allows our nervous system to regulate.</p>
        </section>
        <section>
          <span class="icon solid fa-tree major"></span>
          <h3>Grounded calm energy</h3>
          <p>A harmonious regulated nervous system brings with it energy and a grounded inner-calm.</p>
        </section>
        <section>
          <span class="icon solid fa-lightbulb major"></span>
          <h3>Focus & Wellbeing</h3>
          <p>In a calm, regulated state, our capacity for concentration builds and our body is able to repair itself more effectively.</p>
        </section>
      </div>
    </div>
  </div>

  <video src="images/banner.mp4" muted autoplay loop playsinline></video>
  {% endif %}

</section>
